<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="init" default-destroy-method="destroy">

	<bean id = "accountService" class = "cs544.exercise05_3.bank.service.AccountService">
		<constructor-arg ref = "accountDao"></constructor-arg>
		<constructor-arg ref = "currencyConvertor"></constructor-arg>
		<constructor-arg ref = "jmsSender"></constructor-arg>
		<constructor-arg ref = "jmsLogger"></constructor-arg>
	</bean>
	<bean id = "accountDao" class = "cs544.exercise05_3.bank.dao.AccountDAO"></bean>
	<bean id = "currencyConvertor" class = "cs544.exercise05_3.bank.service.CurrencyConverter"></bean>
	<bean id = "jmsSender" class = "cs544.exercise05_3.bank.jms.JMSSender"></bean>
	<bean id = "jmsLogger" class = "cs544.exercise05_3.bank.logging.Logger"></bean>
</beans>